*.DS_Store
.vscode

# Documents
/docs/archive
/docs/_minted-*
/docs/ext
/docs/ppt
/docs/shared
/docs/word
/docs/*.tex
/docs/*.bib
/docs/*.pdf
/docs/*.bcf
/docs/*.synctex.gz
/docs/*.run.xml

# Code output directories
/code/**/out/**/*.R
/code/**/out/**/*.pdf
/code/tracking/out/Fig3-Simulation/**/clones/
/code/**/out/**/*.xlsx
/code/**/out/**/*.jpg
/code/**/out/**/*.log
/code/**/out/**/*.rtf
/code/**/out/**/*.out
/code/**/archive
/code/cyton/data/_original
/code/**/out
!/code/**/out/
!/code/**/out/**/.gitkeep
!/code/tracking/out/**/*.pdf
!/code/tracking/out/**/*.log
!/code/cyton/out/**/_lognormal/indiv/Fig5/**/*.pdf
!/code/cyton/out/**/_lognormal/indiv/Fig5/**/*.xlsx
!/code/cyton/out/**/_normal/joint/Fig6/**/*.pdf
!/code/cyton/out/**/_normal/joint/Fig6/**/*.xlsx

# Byte-compiled / optimised / DLL files
/code/**/__pycache__/
/code/**/*.py[cod]
/code/**/*$py.class

# C extensions
/code/**/*.so
/code/**/*.c
